@font-face {
  font-family: 'Cerebri Sans';
  src: url('/fonts/Cerebri-Sans/CerebriSans-Light.eot');
  src: url('/fonts/Cerebri-Sans/CerebriSans-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Cerebri-Sans/CerebriSans-Light.woff2') format('woff2'),
  url('/fonts/Cerebri-Sans/CerebriSans-Light.woff') format('woff'),
  url('/fonts/Cerebri-Sans/CerebriSans-Light.ttf')  format('truetype'),
  url('/fonts/Cerebri-Sans/CerebriSans-Light.svg#CerebriSans-Light') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Cerebri Sans';
  src: url('/fonts/Cerebri-Sans/CerebriSans-Regular.eot');
  src: url('/fonts/Cerebri-Sans/CerebriSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Cerebri-Sans/CerebriSans-Regular.woff2') format('woff2'),
  url('/fonts/Cerebri-Sans/CerebriSans-Regular.woff') format('woff'),
  url('/fonts/Cerebri-Sans/CerebriSans-Regular.ttf')  format('truetype'),
  url('/fonts/Cerebri-Sans/CerebriSans-Regular.svg#CerebriSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cerebri Sans';
  src: url('/fonts/Cerebri-Sans/CerebriSans-Medium.eot');
  src: url('/fonts/Cerebri-Sans/CerebriSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Cerebri-Sans/CerebriSans-Medium.woff2') format('woff2'),
  url('/fonts/Cerebri-Sans/CerebriSans-Medium.woff') format('woff'),
  url('/fonts/Cerebri-Sans/CerebriSans-Medium.ttf')  format('truetype'),
  url('/fonts/Cerebri-Sans/CerebriSans-Medium.svg#CerebriSans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Cerebri Sans';
  src: url('/fonts/Cerebri-Sans/CerebriSans-SemiBold.eot');
  src: url('/fonts/Cerebri-Sans/CerebriSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Cerebri-Sans/CerebriSans-SemiBold.woff2') format('woff2'),
  url('/fonts/Cerebri-Sans/CerebriSans-SemiBold.woff') format('woff'),
  url('/fonts/Cerebri-Sans/CerebriSans-SemiBold.ttf')  format('truetype'),
  url('/fonts/Cerebri-Sans/CerebriSans-SemiBold.svg#CerebriSans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Cerebri Sans';
  src: url('/fonts/Cerebri-Sans/CerebriSans-Bold.eot');
  src: url('/fonts/Cerebri-Sans/CerebriSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Cerebri-Sans/CerebriSans-Bold.woff2') format('woff2'),
  url('/fonts/Cerebri-Sans/CerebriSans-Bold.woff') format('woff'),
  url('/fonts/Cerebri-Sans/CerebriSans-Bold.ttf')  format('truetype'),
  url('/fonts/Cerebri-Sans/CerebriSans-Bold.svg#CerebriSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Radnika';
  src: url('/fonts/Radnika/Radnika-Medium.eot');
  src: url('/fonts/Radnika/Radnika-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Radnika/Radnika-Medium.woff2') format('woff2'),
  url('/fonts/Radnika/Radnika-Medium.woff') format('woff'),
  url('/fonts/Radnika/Radnika-Medium.ttf')  format('truetype'),
  url('/fonts/Radnika/Radnika-Medium.svg#Radnika-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/Fira-Code/FiraCode-Regular.eot');
  src: url('/fonts/Fira-Code/FiraCode-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Fira-Code/FiraCode-Regular.woff2') format('woff2'),
  url('/fonts/Fira-Code/FiraCode-Regular.woff') format('woff'),
  url('/fonts/Fira-Code/FiraCode-Regular.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/Fira-Code/FiraCode-Bold.eot');
  src: url('/fonts/Fira-Code/FiraCode-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Fira-Code/FiraCode-Bold.woff2') format('woff2'),
  url('/fonts/Fira-Code/FiraCode-Bold.woff') format('woff'),
  url('/fonts/Fira-Code/FiraCode-Bold.ttf')  format('truetype');
  font-weight: 600;
  font-style: normal;
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Cerebri Sans', 'Radnika', -apple-system, 'SF UI Display', 'Helvetica Neue', 'Arial', sans-serif;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  background-color: #000000;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}
img, svg {
  user-select: none;
  width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}
.root {
  display: block;
  width: 100%;
  user-select: none
}
.modal-root {
  opacity: 0;
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999;
}
.modal-wrapper {
  position: static;
}

#scroller {
  cursor: -webkit-grab;
  cursor: -ms-grab;
  cursor: -o-grab;
  cursor: grab;
  cursor: url(/icons/drag.png) 6 1,move
}
#scroller:active {
  cursor: -webkit-grabbing;
  cursor: -ms-grabbing;
  cursor: -o-grabbing;
  cursor: grabbing;
  cursor: url(/icons/drag-active.png) 6 1,move
}

main .iScrollVerticalScrollbar {
  width: 4px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: silver;
  transition: width .25s ease-in-out
}

main .iScrollVerticalScrollbar:hover {
  width: 10px;
}

main .iScrollIndicator {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  cursor: move;
  cursor: -webkit-grab;
  cursor: -ms-grab;
  cursor: -o-grab;
  cursor: grab;
  background: #121212;
}

main .iScrollIndicator:active {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -ms-grabbing;
  cursor: -o-grabbing;
  cursor: grabbing
}

main .iScrollIndicator:before {
  position: absolute;
  top: -20px;
  bottom: -20px;
  right: 0;
  width: 20px;
  content: ''
}
