body {
  margin: 0;
  padding: 0;
  font-family: 'Cerebri Sans', 'Radnika', -apple-system, 'SF UI Display', 'Helvetica Neue', 'Arial', sans-serif;
  width: 100%;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
img, svg {
  user-select: none;
  width: 100%;
  display: block;
  pointer-events: none;
}
.root {
  display: block;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.modal-root {
  opacity: 0;
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999;
}
.modal-wrapper {
  position: static;
}