body {
  margin: 0;
  padding: 0;
  font-family: 'Cerebri Sans', 'Radnika', -apple-system, 'SF UI Display', 'Helvetica Neue', 'Arial', sans-serif;
  width: 100%;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
